<h1>Registro</h1>

<form method="post">
    <label>Nombre completo</label>
    <input name="FullName" required />

    <label>Usuario</label>
    <input name="Username" required />

    <label>Correo</label>
    <input type="email" name="Email" required />

    <label>Fecha de nacimiento</label>
    <input type="date" name="BirthDate" required />

    <label>Contraseña</label>
    <input type="password" name="Password" required />

    <button type="submit">Registrarme</button>
</form>

<p><a href="/Auth/Login">Ya tengo cuenta</a></p>
